* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font: 13px Helvetica, Arial;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

form {
  background: #000;
  padding: 1px;
  display: flex;
}

form input {
  border: 0;
  padding: 10px;
  flex: 1;
}

form button {
  width: 100px;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#chat-form {
  display: none;
}

#messages {
  overflow: auto;
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li label {
  font-weight: bold;
}