* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*:focus,
*:hover,
*:active {
  outline: 0 !important;
}
::selection {
  background: #EF5350;
  color: #FFFFFF;
}
::-moz-selection {
  background: #EF5350;
  color: #FFFFFF;
}
body {
  font-family: verdana;
  margin: 0;
  background: #FFFFFF;
  color: #000;
  overflow: hidden;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  border-bottom: 1px solid;
}
.app {
  display: flex;
  flex-direction: column;
}
.app .chat-room {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app .chat-room .messages {
  flex: 1;
  overflow: auto;
}
.app .chat-room .message-input {
  display: flex;
  padding: 10px 10px 0;
  background: #eee;
}
.app .chat-room .message-input .message-input-box {
  flex: 1;
  margin-right: 10px;
}
.name-dialog .name-box {
  min-width: 100%;
}
