* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*:focus,
*:hover,
*:active {
  outline: 0 !important;
}
::selection {
  background: #EF5350;
  color: #FFFFFF;
}
::-moz-selection {
  background: #EF5350;
  color: #FFFFFF;
}
body {
  font-family: verdana;
  margin: 0;
  background: #FFFFFF;
  color: #000;
  overflow: hidden;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  border-bottom: 1px solid;
}
.app {
  display: flex;
  flex-direction: column;
}
.app .chat-room {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app .chat-room .messages {
  flex: 1;
  overflow: auto;
}
.app .chat-room .message-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
}
.app .chat-room .message-input > span {
  display: block;
  height: 200px;
  overflow: auto;
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin: 0 10px 5px;
}
.app .chat-room .message-input > span .emoji-picker-emoji {
  padding: 5px;
}
.app .chat-room .message-input > span .emoji-picker-emoji:hover {
  border-bottom: none;
}
.app .chat-room .message-input > span span:first-child {
  border-bottom: 1px solid #e3e3e3;
  display: block;
  margin-bottom: 5px;
}
.app .chat-room .message-input > span span:last-child {
  display: none;
}
.app .chat-room .message-input .message-input-box {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0 10px;
}
.name-dialog .name-box {
  min-width: 100%;
}
